.category-content

	.container
		position: relative
		display: flex
		flex-wrap: nowrap
		
		@media (max-width: 1199px)
			flex-wrap: wrap
	
	.filters
		width: 25%
		margin-left: -25% 
		padding-right: 30px 
		
		@media (max-width: 1800px)
			margin-left: 0 
			
		@media (max-width: 1199px)
			width: 100%
			margin-bottom: 50px 
			padding-right: 0 
			
	.main
		width: 100%
		
		@media (min-width: 1801px)
			.col-lg-4
				+col-width(25%)

			&.list-view
				.col-lg-4
					+col-width(100%)
		
		@media (max-width: 1800px)
			width: 75%
			
		@media (max-width: 1199px)
			width: 100%



.filters
	&-title
		font-size: 16px
		font-weight: normal 
		margin-bottom: 30px 
		padding: 0 15px
		
		@media (max-width: 1199px)
			text-align: center
			background-color: $lilac
			font-size: 18px
			padding: 10px 15px  
			color: #fff
			margin-bottom: 0
			position: relative
			transition: all 0.3s ease
			
			&.active
				background-color: $blue-25
				 
				.fa-angle-down
					&:before
						content: '\f106'
		
		.fa
			margin-right: 5px 
			
		.fa-angle-down
			display: none 
			
			@media (max-width: 1199px)
				display: block
				position: absolute
				top: 50%
				right: 15px
				transform: translateY(-50%)
			
	form
		@media (min-width: 1200px)
			display: block!important
			
		@media (max-width: 1199px)
			display: none
			padding-top: 30px 

.filter-group
	padding: 0 15px 20px
	margin-bottom: 20px
	border-bottom: 1px solid #E3E3E3  
	width: 230px
	max-width: 100% 
	position: relative
	
	&:last-child
		border-bottom: 0
			
	@media (max-width: 1800px)
		width: 100%
	
	.clear
		background-color: transparent
		border: 0
		padding: 0
		position: absolute
		top: 12px
		right: 15px
		transform: translateY(-50%) 
		font-size: 12px
		color: #b7b7b7
		cursor: pointer
		
		.fa
			display: block
		
		&:hover
			color: $red
	
	&-title
		font-weight: 700 
		padding-right: 15px 
		
	.ui-slider
		margin-top: 40px 
		


.view-options
	display: flex
	align-items: center
	justify-content: flex-end
	flex-wrap: wrap
	margin-bottom: 85px 
	
	@media (max-width: 1199px)
		margin-bottom: 30px 
		
	@media (max-width: 767px)
		justify-content: flex-start
		
		.label
			width: 100%
			margin-bottom: 4px 
	
	.sort-option,
	.view-option
		margin-left: 30px
		color: #313131
		transition: all 0.2s ease
		
		@media (max-width: 991px)
			font-size: 14px
			margin-left: 15px  
			
		@media (max-width: 767px)
			margin-left: 0
			margin-right: 15px  
		
		.fa
			color: #cacaca
			transition: all 0.2s ease
			
		&.active,
		&:hover
			color: $blue-25
			text-decoration: none
			
			.fa
				color: $blue-25
				
	.view-option
		@media (max-width: 991px)
			display: none	

	.sort-option
		.fa
			margin-right: 5px 
			
		&.desc
			.fa
				&:before
					content: '\f0dd'
					
		&.asc
			.fa
				&:before
					content: '\f0de'
					


.pagination
	margin: 0 auto
	font-size: 20px
	color: $text 
	font-weight: 700 
	text-align: center
	
	@media (max-width: 575px)
		font-size: 18px 
	
	.pagination-link
		color: $text
		margin: 0 10px
		transition: all 0.2s ease
		
		@media (max-width: 575px)
			margin: 0 6px
		
		&:hover,
		&.active
			text-decoration: none
			color: $blue-55
	
	span.pagination-link
		color: $text
		&:hover
			color: $text
			

@media (min-width: 992px)
	.list-view
		.pagination
			padding-top: 50px 