.new-arrivals
	padding: 55px 0 45px
	
	&-header
		background-color: #F5F6F7 
		padding: 30px 0
		text-align: center
		font-family: $f 
		margin-bottom: 55px 
		
		h2
			margin-bottom: 0
			color: $lilac
			font-size: 24px 
			
			.fa
				margin-right: 10px