.offer
	height: 600px
	position: relative
	background-color: $lilac-dark 
	opacity: 0
	visibility: hidden
	
	&.loaded
		transition: all 0.5s ease
		opacity: 1!important
		visibility: visible
	
	@media (max-width: 1350px)
		height: 550px
		
	@media (max-width: 991px)
		height: 500px
		
	@media (max-width: 767px)
		height: 400px
		
	@media (max-width: 575px)
		height: 375px
	
	.vertical-menu
		position: absolute
		top: 0
		height: 100%
		left: -weblit-calc(50% - 900px)
		left: calc(50% - 900px)
		z-index: 2 
		
		@media (max-width: 1800px)
			left: 0
			
		@media (max-width: 1350px)
			display: none
	
	&-slider
		height: 100%
		margin-bottom: 0!important
		position: relative 
		
		.slick-dots
			position: absolute
			bottom: 0
			right: 0
			background-color: rgba(255, 255, 255, .2) 
			width: 30px
			padding: 5px 0
			
			li
				display: block
				margin: 0
				width: 100%
				height: auto
				
				button
					padding-top: 2px
					padding-bottom: 2px  
					color: #fff
					width: 100%
					
					&:before
						font-size: 12px 
						display: block
						position: relative
						height: 16px
						color: #fff
						opacity: 1
						transition: all 0.3s ease
						
			li:hover,
			li.slick-active
				button:before
					color: $blue-00
		
		.slick-list,
		.slick-track
			height: 100%
			
		.slide
			display: flex
			align-items: center
			position: relative
			z-index: 1 
			color: #fff
			background-position: 50% 50%
			background-repeat: no-repeat 
			background-size: cover 
			
			&:before
				content: ''
				width: 100%
				height: 100%
				position: absolute
				top: 0
				left: 0
				background-color: #000
				opacity: 0.5
				z-index: -1  
			
			&-container
				width: 1800px
				max-width: 100% 
				padding: 0 15px 0 430px
				margin: 0 auto
				
				@media (max-width: 1350px)
					width: 1170px
					padding: 0 15px
					
				@media (max-width: 1199px)
					width: 960px
					
				@media (max-width: 991px)
					width: 720px
					
				@media (max-width: 767px)
					width: 540px
				
			&-content
				width: 550px
				max-width: 100% 
				line-height: normal
				
				@media (max-width: 767px)
					width: 100%
				
				h2
					font-size: 48px
					font-weight: 700  
					text-transform: uppercase
					margin-bottom: 15px
					
					@media (max-width: 767px)
						font-size: 42px 
						
					@media (max-width: 575px)
						font-size: 32px 
					
				p
					font-size: 24px 
					margin-bottom: 23px 
					
					@media (max-width: 767px)
						font-size: 20px 
					
					@media (max-width: 757px)
						font-size: 18px 
				