.order
	padding: 30px 30px 20px
	background-color: #F5F6F7 
	
	&:not(:last-child)
		margin-bottom: 20px
		 
	p
		margin-bottom: 0.5rem 
	
	&-number
		font-size: 20px
		font-weight: 700  
		
	&-date,
	&-count,
	&-items
		span
			color: #8892bb
			
	&-price
		text-align: right
		
		span
			color: #8892bb
		
		.price
			font-size: 24px 
			
			.value,
			.currency
				color: $lilac-dark 
			

	&-actions
		text-align: right
		padding-top: 10px 
		
		.btn
			height: 40px
			padding: 0 20px
			margin-left: 15px 